<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Resume.io to PDF</title>
    <link
      rel="stylesheet"
      href="./static/assets/vendor/tailwind/tailwind.min.css"
    />
  </head>

  <body class="bg-gray-100 flex items-center justify-center h-screen py-96">
    <div class="w-full max-w-lg mx-auto px-3 sm:px-0">
      <div class="bg-white shadow-md rounded-lg p-6">
        <div class="text-center mb-6">
          <h1 class="text-2xl font-semibold">Resume.io Downloader</h1>
        </div>
        <div class="mb-6 p-4 bg-blue-50 rounded-lg">
          <h2 class="text-sm sm:text-lg font-semibold text-blue-700 mb-1">
            Harap Dibaca !!!
          </h2>
          <p class="text-gray-700 text-sm sm:text-base">
            Silakan kunjungi
            <a
              href="https://resume.io/pricing"
              class="underline text-blue-500 hover:text-blue-700"
              target="_blank"
              >halaman harga</a
            >
            di Resume.io yang memberikan harga yang adil dan terjangkau untuk
            layanan download PDF dan beli layanan tersebut.
            <span class="font-semibold"
              >Karena cara tersebut lebih baik daripada menggunakan website
              ini.</span
            >
          </p>
          <h2 class="text-sm sm:text-lg mt-2 font-semibold text-blue-700 mb-1">
            Cara Penggunaan
          </h2>
          <ul
            class="list-decimal list-inside text-gray-700 space-y-1 text-sm sm:text-base"
          >
            <li>
              Pastikan Anda sudah login dan membuat resume di
              <a
                href="https://resume.io/app/resumes"
                target="_blank"
                class="underline text-blue-500 hover:text-blue-700"
                >Resume.io</a
              >.
            </li>
            <li>
              Dapatkan <span class="font-semibold">rendering_token</span> dari
              <a
                href="https://resume.io/api/app/resumes"
                target="_blank"
                class="underline text-blue-500 hover:text-blue-700"
                >API Resume.io</a
              >.
              <img
                src="./static/assets/images/rendering_token.png"
                alt="Rendering Token"
                class="w-3/4 mx-auto"
              />
            </li>
            <li>Tempel token ke kolom input di bawah.</li>
            <li>Klik tombol Download PDF.</li>
          </ul>
        </div>
        <!-- Form -->
        <form method="post" class="flex flex-col gap-4" id="downloadForm">
          <!-- Input field -->
          <div>
            <input
              type="text"
              name="rendering_token"
              placeholder="Enter your resume `renderingToken`"
              class="w-full px-4 py-2 text-sm border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none border-gray-300"
              maxlength="24"
              aria-label="Id"
              required
            />
            <span class="text-red-500 text-sm mt-1 hidden"
              >Your resume `renderingToken` must be a 24-character alphanumeric
              string</span
            >
          </div>

          <!-- Submit button -->
          <button
            id="submit-btn"
            type="submit"
            class="flex items-center justify-center gap-2 w-full px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
          >
            <span id="submit-text">Download</span>
            <svg
              id="loader"
              class="w-5 h-5 animate-spin hidden"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v8z"
              ></path>
            </svg>
          </button>
        </form>
      </div>
      <div class="flex justify-between items-center space-x-4 pt-5 mx-5">
        <p class="text-md text-gray-700">Developed by ferdyhape</p>
        <div class="flex space-x-1">
          <a href="https://github.com/ferdyhape" target="_blank"
            ><img src="./static/assets/icon/github.svg" alt="GitHub"
          /></a>
          <a href="https://www.linkedin.com/in/ferdyhape/" target="_blank"
            ><img src="./static/assets/icon/linkedin.svg" alt="LinkedIn"
          /></a>
          <a href="https://www.instagram.com/ferdyhape/" target="_blank"
            ><img src="./static/assets/icon/instagram.svg" alt="Instagram"
          /></a>
        </div>
      </div>
    </div>
    <script src="./static/assets/vendor/jquery/jquery.min.js"></script>
    <script>
      // Form elements
      const downloadForm = document.getElementById("downloadForm");
      const errorMessage = downloadForm.querySelector("span");
      const inputField = downloadForm.querySelector("input");
      const submitText = document.getElementById("submit-text");
      const loader = document.getElementById("loader");

      // Form validation and submission
      downloadForm.addEventListener("submit", function (e) {
        e.preventDefault();
        const renderingToken = inputField.value.trim();
        const isValid = /^[a-zA-Z0-9]{24}$/.test(renderingToken);

        if (!isValid) {
          errorMessage.classList.remove("hidden");
          inputField.classList.add("border-red-500");
          inputField.classList.remove("shake");

          setTimeout(() => {
            inputField.classList.add("shake");
          }, 100);

          return;
        } else {
          errorMessage.classList.add("hidden");
          inputField.classList.remove("border-red-500", "shake");
        }

        // Update form action
        downloadForm.action = `/download/${renderingToken}`;

        // Show loader
        submitText.classList.add("hidden");
        loader.classList.remove("hidden");

        // Submit form
        this.submit();
      });

      // Reset loader on page show
      window.addEventListener("pageshow", function () {
        loader.classList.add("hidden");
        submitText.classList.remove("hidden");
      });
    </script>
  </body>
</html>
